# sinon React prend le relais
RewriteRule . /index.html [L]

RewriteEngine On

# Ne pas toucher aux fichiers PHP
RewriteCond %{REQUEST_URI} !^/api/

# Si fichier existe → OK
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Sinon → React
RewriteRule ^ index.html [L]